
*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
p,
body {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
img{
    max-width: 100%;
}
#title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 5rem;
    letter-spacing: 2px;
}
#img-div{
    width: 90vw;
    margin: 0 auto;
}
#image{
    text-align: center;
}